.logo {
    width: 80px;
    height: 70px;
    vertical-align: middle;
    margin-left: 23px;
}
.categories{
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: black;
}
.udemyBussiness, .teachOnUdemy{
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: black;
}
.searchbar input[type=search] {
    width: 50vw;
    height: 40px;
    border-radius: 20px;
    padding-left: 35px;
}
.cart{
    background-color: white;
    padding: 18px 18px 18px 0px;
    text-align: center;
    font-size: 20px;
    border: none; 

}

@media only screen and (max-width:800px) {

    .rightside{
        display: none;
    }
    
}
.searchicon {
    /* display: none !important; */
    position: absolute;
    margin-left: 1%;
    margin-top: 0.8%;
}

.navBar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    position: absolute;
    margin-left: -8px;
    top:0px;
}


.login {
    background-color: white;

    border-color: black;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}

.signup {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}
.langbutton {
    background-color: white;
    padding: 8.5px 9px 8.5px 9px;
    text-align: center;
    font-size: 17px;
    border-color: #000000;
}

.rightside {
    float: left;
    display: flexbox;
    justify-content: space-between;
}

.middle {
    float: left;
    margin: 1% 2% 1% 2%;
}

.leftside {
    float: left;
    display: flexbox;
    justify-content: space-between;
}