body {
    overflow-x: hidden;
    /* display: contents; */
}

.logo {
    width: 80px;
    height: 70px;
    vertical-align: middle;
    margin-left: 23px;
}

.categories {
    background-color: white;
    padding: 10px;
    line-height: 3.5;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: black;
}

.udemyBussiness,
.teachOnUdemy {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    color: black;
}

.searchbar {
    border: 1px solid black;
    border-radius: 3rem;
}

.searchbar input[type=search] {
    width: 32vw;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none !important;
}


.cart {
    background-color: white;
    padding: 18px 18px 18px 0px;
    text-align: center;
    font-size: 20px;
    border: none;

}

@media only screen and (max-width:800px) {

    .rightside {
        display: none;
    }

    .line {
        width: 30px;
        height: 5px;
        background-color: black;
        margin: 6px 0 0 15px;
        display: block !important;
    }

    .categories {
        display: none;
    }

    .logo {
        margin-left: 17rem;
        margin-top: -2.5rem;
    }

    .searchbar {
        display: none;
    }
    .notes{
        display: none !important;
    }
    .notes2{
        background-color: white;
    display: block !important;
    width: 85vw;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    padding: 3%;
    align-items: center;
    margin: 1% auto;

    }
}

@media only screen and (max-width:1523px) {

    .circlebutton {
        display: none;
    }

    .arrow {
        display: none;
    }

}
@media only screen and (max-width:1525px) {

    .teachOnUdemy, .udemyBussiness{
        display: none;
    }
}

.searchicon {
    margin-left: 15px;
}

.navBar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}


.login {
    background-color: white;

    border-color: black;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.signup {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;

}

.langbutton {
    background-color: white;
    padding: 8.5px 9px 8.5px 9px;
    text-align: center;
    font-size: 17px;
    border-color: #000000;
}

.middle {
    margin: 0.4% 1% 1% 1%;
}

.imgbanner {
    background-color: #f8f9fb;
    width: 86vw;
    margin: 3% auto;
    height: 39vh;
    padding: 2% 2% 4% 4%;
}
.clockimg{
    width: 21rem;
    float: right;
    margin-right: 4%;
}

.notesHead {
    font-weight: bold;
    font-size: 1.5rem;
}

.notesword {
    font-size: 1.2rem;
}

.notes {
    margin-top: 3%;
    background-color: white;
    width: 33vw;
    box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.2);
    padding: 3%;
    align-items: center;
}
.notes2{
    display: none;
}

.coursesnote {
    padding: 20px 20px 1px 20px;
    margin-left: 5%;
}


.nav-link {
    background-color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: none !important;
    text-decoration: none;
    color: black !important;
    display: inline-block;
}
.nav-tabs {
    border: none !important;
}
.nav {
    justify-content: space-between;
}

.coursesblocks {
    border-color: rgba(0, 0, 0, 0.303);
    border-style: solid;
    border-width: 0.1rem;
    padding: 1rem 0rem 1rem 2rem;
    margin-top: 2% !important;
    width: 87vw;
    margin-left: -3rem;
}
.container{
    margin-left: 3.5rem !important;
}

.word {
    width: 63vw;
}

.explore {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-color: #000000;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 0.1rem;
    /* display: block; */
    /* width: 8rem; */
}

.coursesboxes {
    height: 5rem;
    padding: 1.0rem;
}

.pythonimg {
    width: 13rem;
    height: 8rem;
    margin-top: 6%;
}

.course1 {
    width: 15rem;
    display: inline-block;
}

.pythoncourse {
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    display: block;
}

.checked {
    color: gold;
}

.notchecked {
    color: gold;
}

.circlebutton {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    position: absolute;
    margin-top: -15.5rem;
    background-color: #000000;
    right: 11%;
}

.arrow {
    color: white;
}

.ratingsection {
    display: inline-block;
    color: gold;
    font-weight: bold;
}

.money {
    display: block;
    font-weight: bold;
}

s,
.visiting {
    color: rgb(111, 110, 110);
    font-weight: lighter;
}

.bestseller {
    width: 3.3rem;
    height: 1.5rem;
    background-color: rgb(205, 205, 96);
    padding: 0.2rem;
    font-size: 0.8rem;
    text-align: center;
}

.line {

    display: none;
}

a {
    font-weight: 600 !important;
}

@media screen and (min-width:1212px) {
    .card {
        margin: 2.5em .5em;
        width: 15.5vw;
        display: inline-block !important;

    }


}

.image-wrapper {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width:1212px) {
    .card:not(:first-child) {
        display: none;
    }

}

@media screen and (max-width:1200px) {
    #mediumscreengrid {
        display: block !important;
    }

    #largescreengrid {
        display: none !important;
    }

}
@media screen and (max-width:768px) {
    #mediumscreengrid {
        display: none !important;
    }

    #smallscreengrid {
        display: block !important;
    }

}

#smallscreengrid {
    display: none;
}

#mediumscreengrid {
    display: none;
}

.imagelink {
    text-decoration: none;
    color: black;
}

.imagelink:hover {
    color: black;
}
.topcategories{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5.5rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.carousel-control-prev,.carousel-control-next{
    width: 3vw !important;
    height:3vw ;
    background-color: #000000 !important;
    opacity: 1 !important;
    border-radius: 50%;
    color: white !important;
    margin-top: 5rem;
    margin-left: -1rem;
    margin-right: 0.8rem;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    filter: none !important;
}