.header{
    padding: 20px;
  text-align: center;
  background: #ede397;
  width: 100%;
  margin-top: -20px;
  margin-left: -10px;
}
.note{
    margin-top: 20px;


}
.endtime{

    font-size: 19px;

}
.importantText{
    font-weight: bold;

}
.closebutton{

    right: 5px;
    margin-top: -10px;
    margin-right: 5px;
    position: absolute;
    top:30px;
    font-size: 15px;
    font-weight: lighter;
}